@images-path: '/img/';
@bar-height: 30px;
@bar-radius: 10px;
@bar-bg: #2D2D2D;
@bar-bg-hover: #666;
@button-border-top: 2px;
@font-color: #ccc;
@font-color-active: #fff;
@color-border-active: #DD4B39;

#gfwb {
    color: @font-color;
    font: 13px/27px Arial,sans-serif;
    height: @bar-height;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 990;

    ul#gfwbl {
        float: left;
        background: @bar-bg;
	border-bottom-right-radius: @bar-radius;
    }

    ul#gfwbr {
        float: right;
        background: @bar-bg;
        border-bottom-left-radius: @bar-radius;
    }

    ul {
        display: inline-block;
        overflow: hidden;
        height: 100%;

        li {
            display: inline-block;
            padding: 0 5px;
            height: @bar-height - @button-border-top;
            border-top: @button-border-top solid transparent;
            &.active { border-top-color: @color-border-active; }
            &:hover { background: @bar-bg-hover; }
            &#gfwblhb {
                width: 0px;
                background-image: url('@{images-path}/gfwb_hide-left.png');

                a {text-indent: -99em;}
            }

            a {
                font: 13px/27px Arial,sans-serif;
                color: @font-color;
                text-decoration: none;
                display: block;
                height: 100%;
                width: 100%;
            }
        }
    }
}
