@bar-height: 30px;
@button-border-top: 2px;
@font-color: #ccc;
@font-color-active: #fff;
@color-bg: #2D2D2D;
@color-bg-hover: #666;
@color-border-active: #DD4B39;

#gfwb {
    background-color: @color-bg;
    border-bottom: 1px solid black;
    color: @font-color;
    font: 13px/27px Arial,sans-serif;
    height: @bar-height;-
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 990;

    ul#gfwb-left {
        float: left;
    }

    ul#gfwb-right {
        float: right;
    }

    ul, ul li {
        display: inline-block;
        height: 100%;
        padding: 0 5px;
    }

    ul li {
        height: @bar-height - @button-border-top;
        border-top: @button-border-top solid transparent;
        &:hover { background: @color-bg-hover; }
    }

    ul li.active {
        border-top-color: @color-border-active;
    }
}
